In [1]:
import numpy as np
import pandas as pd

In [2]:
match = pd.read_csv('match_info_data.csv')
delivery = pd.read_csv('match_complete_data.csv',low_memory=False)

In [3]:
match.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit

In [4]:
match.shape

(1024, 18)

In [5]:
delivery.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353

In [6]:
delivery.shape

(243817, 23)

In [7]:
# Group by 'match_id' and 'innings' and sum only 'runs_off_bat' and 'extras'
total_score_df = delivery.groupby(['match_id', 'innings']).sum()[['runs_off_bat', 'extras']].reset_index()

In [8]:
# Calculate the total score by summing 'runs_off_bat' and 'extras'
total_score_df['total_score'] = total_score_df['runs_off_bat'] + total_score_df['extras']

In [9]:
# Add 1 run to the total score
total_score_df['total_score'] += 1

In [10]:
# Display the resulting DataFrame for both innings
total_score_df.tail()

      match_id  innings  runs_off_bat  extras  total_score
2070   1370351        2            91      10          102
2071   1370352        1           223      10          234
2072   1370352        2           164       7          172
2073   1370353        1           210       4          215
2074   1370353        2           166       5          172

In [11]:
#merging this total_score column based on match_id to match_info_data
match_df = match.merge(total_score_df[['match_id','innings','total_score']],left_on='id',right_on='match_id')

In [12]:
match_df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,innings,total_score
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,...,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan,1370353,1,215
1,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,...,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan,1370353,2,172
2,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,...,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal,1370352,1,234
3,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,...,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal,1370352,2,172
4,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,...,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney,1370351,1,183

In [13]:
match_df['team1'].unique()

array(['Gujarat Titans', 'Mumbai Indians', 'Chennai Super Kings',
       'Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Lucknow Super Giants', 'Punjab Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [14]:
teams = [
    'Mumbai Indians',
    'Chennai Super Kings',
    'Royal Challengers Bangalore',
    'Kings XI Punjab',
    'Kolkata Knight Riders',
    'Sunrisers Hyderabad',
    'Rajasthan Royals',
    'Delhi Capitals',
    'Gujarat Titans',
    'Lucknow Super Giants'
]

In [15]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['team1'] = match_df['team1'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['team2'] = match_df['team2'].str.replace('Gujarat Lions','Gujarat Titans')

match_df['team1'] = match_df['team1'].str.replace('Punjab Kings','Kings XI Punjab')
match_df['team2'] = match_df['team2'].str.replace('Punjab Kings','Kings XI Punjab')

In [16]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [17]:
match_df.shape

(1898, 21)

In [18]:
#extracting only match with no dl_applied
match_df = match_df[match_df['dl_applied'] == 0]

In [19]:
match_df = match_df[['match_id','innings','city','winner','total_score']]

In [20]:
match_df.head()

   match_id  innings       city               winner  total_score
2   1370352        1  Ahmedabad       Gujarat Titans          234
3   1370352        2  Ahmedabad       Gujarat Titans          172
4   1370351        1    Chennai       Mumbai Indians          183
5   1370351        2    Chennai       Mumbai Indians          102
6   1370350        1    Chennai  Chennai Super Kings          173

In [21]:
delivery_df = match_df.merge(delivery, on=['match_id', 'innings'])

In [22]:
delivery_df.shape

(220025, 26)

In [23]:
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.1,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.2,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.3,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.4,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.5,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352

In [24]:
delivery_df['current_score'] = delivery_df.groupby(['match_id', 'innings']).apply(
    lambda x: (x['runs_off_bat'] + x['extras']).cumsum()
).reset_index(level=[0, 1], drop=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14552\3282631527.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  delivery_df['current_score'] = delivery_df.groupby(['match_id', 'innings']).apply(

In [25]:
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.1,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.2,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.3,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.4,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,2
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.5,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,2

In [26]:
# Filter for specific 'match_id' and 'innings'
filtered_df = delivery_df[(delivery_df['match_id'] == 1370352) & (delivery_df['innings'] == 2)]

In [27]:
filtered_df

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score
127,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0
128,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.2,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1
129,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.3,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1
130,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,5
131,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.5,Mumbai Indians,...,NaN,NaN,NaN,NaN,caught,N Wadhera,NaN,NaN,1370352,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",17.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,166
238,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",17.5,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,170
239,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",17.6,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,170
240,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",18.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,171
241,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",18.2,Mumbai Indians,...,NaN,NaN,NaN,NaN,caught,K Kartikeya,NaN,NaN,1370352,171

In [28]:
# Extract over and ball number from the ball column
delivery_df['over'] = delivery_df['ball'].astype(int)+1
delivery_df['ball'] = (delivery_df['ball'] * 10 % 10).astype(int)

# Cap the number of overs to 20
delivery_df = delivery_df[delivery_df['over'] < 20]

In [29]:
# Filter for specific 'match_id' and 'innings'
filtered_df = delivery_df[(delivery_df['match_id'] == 1370352) & (delivery_df['innings'] == 2)]
filtered_df

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,over
127,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0,1
128,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,1
129,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",3,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,1
130,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,5,1
131,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Mumbai Indians,...,NaN,NaN,NaN,caught,N Wadhera,NaN,NaN,1370352,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,166,18
238,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,170,18
239,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",6,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,170,18
240,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,171,19
241,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Mumbai Indians,...,NaN,NaN,NaN,caught,K Kartikeya,NaN,NaN,1370352,171,19

In [30]:
delivery_df.to_csv("new_data_with_over_score.csv", index=False)

In [31]:
delivery_df['balls_left'] = 126 - (delivery_df['over']*6 + delivery_df['ball'])

In [32]:
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,over,balls_left
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0,1,119
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0,1,118
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",3,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,1,117
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,2,1,116
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,2,1,115

In [33]:
#player_dismissed tell if batsman was out or not while playing that ball
#filling null values with 0
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")

#if column value is not zero mark it 1
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")

#changing datatype of column name
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')

#finding wickets using cumulative sum function
wickets = delivery_df.groupby(['match_id', 'innings'])['player_dismissed'].cumsum()

#calculating wickets left by simple math operation
delivery_df['wickets_left'] = 10 - wickets

In [34]:
# Filter for specific 'match_id' and 'innings'
filtered_df = delivery_df[(delivery_df['match_id'] == 1370352) & (delivery_df['innings'] == 2)]
filtered_df.tail()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,over,balls_left,wickets_left
237,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Mumbai Indians,...,NaN,NaN,0,NaN,NaN,1370352,166,18,14,1
238,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Mumbai Indians,...,NaN,NaN,0,NaN,NaN,1370352,170,18,13,1
239,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",6,Mumbai Indians,...,NaN,NaN,0,NaN,NaN,1370352,170,18,12,1
240,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Mumbai Indians,...,NaN,NaN,0,NaN,NaN,1370352,171,19,11,1
241,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Mumbai Indians,...,NaN,caught,1,NaN,NaN,1370352,171,19,10,0

In [35]:
#crr=current_runs/current_overs
delivery_df['crr'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,over,balls_left,wickets_left,crr
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Gujarat Titans,...,NaN,0,NaN,NaN,1370352,0,1,119,10,0.0
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Gujarat Titans,...,NaN,0,NaN,NaN,1370352,0,1,118,10,0.0
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",3,Gujarat Titans,...,NaN,0,NaN,NaN,1370352,1,1,117,10,2.0
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Gujarat Titans,...,NaN,0,NaN,NaN,1370352,2,1,116,10,3.0
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Gujarat Titans,...,NaN,0,NaN,NaN,1370352,2,1,115,10,2.4

In [36]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [37]:
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,over,balls_left,wickets_left,crr,result
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Gujarat Titans,...,0,NaN,NaN,1370352,0,1,119,10,0.0,1
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Gujarat Titans,...,0,NaN,NaN,1370352,0,1,118,10,0.0,1
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",3,Gujarat Titans,...,0,NaN,NaN,1370352,1,1,117,10,2.0,1
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Gujarat Titans,...,0,NaN,NaN,1370352,2,1,116,10,3.0,1
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Gujarat Titans,...,0,NaN,NaN,1370352,2,1,115,10,2.4,1

In [38]:
groups = delivery_df.groupby(['match_id', 'innings'])

# Get unique combinations of match_id and innings
match_id_innings = delivery_df[['match_id', 'innings']].drop_duplicates().values.tolist()

last_five = []

for id in match_id_innings:
    match_group = groups.get_group(tuple(id))
    
    # Calculate the rolling sum of the current score over the last 30 balls
    last_five.extend(
        match_group['current_score'].rolling(window=30, min_periods=1).apply(lambda x: x.iloc[-1] - x.iloc[0], raw=False).tolist()
    )
delivery_df['last_five_over_score'] = last_five

In [39]:
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,over,balls_left,wickets_left,crr,result,last_five_over_score
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Gujarat Titans,...,NaN,NaN,1370352,0,1,119,10,0.0,1,0.0
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Gujarat Titans,...,NaN,NaN,1370352,0,1,118,10,0.0,1,0.0
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",3,Gujarat Titans,...,NaN,NaN,1370352,1,1,117,10,2.0,1,1.0
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Gujarat Titans,...,NaN,NaN,1370352,2,1,116,10,3.0,1,2.0
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Gujarat Titans,...,NaN,NaN,1370352,2,1,115,10,2.4,1,2.0

In [40]:
# Step 1: Calculate the wickets column
max_wickets = 10
delivery_df['wickets'] = max_wickets - delivery_df['wickets_left']

# Step 2: Calculate the last_five_over_wicket
groups = delivery_df.groupby(['match_id', 'innings'])

# Get unique combinations of match_id and innings
match_id_innings = delivery_df[['match_id', 'innings']].drop_duplicates().values.tolist()

last_five_over_wickets = []

for id in match_id_innings:
    match_group = groups.get_group(tuple(id))
    
    # Calculate the rolling sum of wickets over the last 30 balls
    last_five_over_wickets.extend(
        match_group['wickets'].rolling(window=30, min_periods=1).apply(lambda x: x.iloc[-1] - x.iloc[0], raw=False).tolist()
    )

# Ensure the lengths match before assigning
if len(last_five_over_wickets) == len(delivery_df):
    delivery_df['last_five_over_wicket'] = last_five_over_wickets
else:
    print("Length mismatch: Cannot assign 'last_five_over_wicket' column")

# Display the first few rows with the new columns
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,cricsheet_id,current_score,over,balls_left,wickets_left,crr,result,last_five_over_score,wickets,last_five_over_wicket
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Gujarat Titans,...,1370352,0,1,119,10,0.0,1,0.0,0,0.0
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Gujarat Titans,...,1370352,0,1,118,10,0.0,1,0.0,0,0.0
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",3,Gujarat Titans,...,1370352,1,1,117,10,2.0,1,1.0,0,0.0
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Gujarat Titans,...,1370352,2,1,116,10,3.0,1,2.0,0,0.0
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Gujarat Titans,...,1370352,2,1,115,10,2.4,1,2.0,0,0.0

In [41]:
print(f'Before removing overs: {delivery_df.shape}')

# Group by match_id and innings
grouped = delivery_df.groupby(['match_id', 'innings'])

# Filter only groups where the maximum over is greater than 5
filtered_groups = grouped.filter(lambda x: x['over'].max() > 5)

# Keep only rows where the over is greater than 5
delivery_df = filtered_groups[filtered_groups['over'] > 5]

print(f'After removing overs: {delivery_df.shape}')

Before removing overs: (211509, 35)
After removing overs: (154131, 35)

In [42]:
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,cricsheet_id,current_score,over,balls_left,wickets_left,crr,result,last_five_over_score,wickets,last_five_over_wicket
30,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Gujarat Titans,...,1370352,38,6,89,10,7.354839,1,38.0,0,0.0
31,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Gujarat Titans,...,1370352,39,6,88,10,7.312500,1,38.0,0,0.0
32,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",3,Gujarat Titans,...,1370352,45,6,87,10,8.181818,1,43.0,0,0.0
33,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Gujarat Titans,...,1370352,49,6,86,10,8.647059,1,47.0,0,0.0
34,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Gujarat Titans,...,1370352,49,6,85,10,8.400000,1,46.0,0,0.0

In [43]:
required_data = delivery_df[['batting_team','bowling_team','city','current_score','crr','balls_left','wickets_left','last_five_over_score','last_five_over_wicket','total_score']]
required_data

,batting_team,bowling_team,city,current_score,crr,balls_left,wickets_left,last_five_over_score,last_five_over_wicket,total_score
30,Gujarat Titans,Mumbai Indians,Ahmedabad,38,7.354839,89,10,38.0,0.0,234
31,Gujarat Titans,Mumbai Indians,Ahmedabad,39,7.312500,88,10,38.0,0.0,234
32,Gujarat Titans,Mumbai Indians,Ahmedabad,45,8.181818,87,10,43.0,0.0,234
33,Gujarat Titans,Mumbai Indians,Ahmedabad,49,8.647059,86,10,47.0,0.0,234
34,Gujarat Titans,Mumbai Indians,Ahmedabad,49,8.400000,85,10,46.0,0.0,234
...,...,...,...,...,...,...,...,...,...,...
220020,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,80,5.393258,31,1,29.0,2.0,83
220021,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,81,5.400000,30,1,30.0,2.0,83
220022,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,81,5.340659,29,1,30.0,2.0,83
220023,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,82,5.406593,29,1,30.0,2.0,83
220024,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,82,5.347826,28,0,26.0,3.0,83

In [44]:
required_data.shape

(154131, 10)

In [45]:
required_data.isnull().sum()

batting_team                0
bowling_team                0
city                     8665
current_score               0
crr                         0
balls_left                  0
wickets_left                0
last_five_over_score        0
last_five_over_wicket       0
total_score                 0
dtype: int64

In [46]:
required_data.dropna(inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14552\2733557037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  required_data.dropna(inplace=True)

In [47]:
required_data.isnull().sum()

batting_team             0
bowling_team             0
city                     0
current_score            0
crr                      0
balls_left               0
wickets_left             0
last_five_over_score     0
last_five_over_wicket    0
total_score              0
dtype: int64

In [48]:
required_data['city'].unique()

array(['Ahmedabad', 'Chennai', 'Mumbai', 'Bengaluru', 'Kolkata', 'Delhi',
       'Dharamsala', 'Hyderabad', 'Lucknow', 'Jaipur', 'Chandigarh',
       'Guwahati', 'Navi Mumbai', 'Pune', 'Dubai', 'Sharjah', 'Abu Dhabi',
       'Visakhapatnam', 'Indore', 'Bangalore', 'Kanpur', 'Rajkot',
       'Raipur', 'Ranchi', 'Cuttack', 'Nagpur', 'Johannesburg',
       'Centurion', 'Durban', 'Bloemfontein', 'Port Elizabeth',
       'Kimberley', 'East London', 'Cape Town'], dtype=object)

In [49]:
#sampling Data
final_df = required_data.sample(required_data.shape[0])

In [50]:
final_df.sample()

,batting_team,bowling_team,city,current_score,crr,balls_left,wickets_left,last_five_over_score,last_five_over_wicket,total_score
102218,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,114,10.058824,52,8,53.0,0.0,173

In [51]:
#dropping null values
final_df.dropna(inplace=True)

In [52]:
final_df.shape

(145466, 10)

In [53]:
#storing data in new csv
final_df.to_csv("final_data_score.csv",index=False)

In [54]:
final_df.head()

,batting_team,bowling_team,city,current_score,crr,balls_left,wickets_left,last_five_over_score,last_five_over_wicket,total_score
205125,Kings XI Punjab,Royal Challengers Bangalore,Durban,64,7.529412,69,9,36.0,1.0,174
78172,Mumbai Indians,Delhi Capitals,Mumbai,176,9.103448,4,2,42.0,3.0,177
13587,Rajasthan Royals,Chennai Super Kings,Chennai,97,8.818182,54,7,32.0,2.0,176
38882,Rajasthan Royals,Chennai Super Kings,Abu Dhabi,155,11.625000,40,8,51.0,0.0,191
75404,Rajasthan Royals,Royal Challengers Bangalore,Jaipur,104,8.000000,42,8,42.0,1.0,165

In [55]:
X = final_df.drop(columns=['total_score'])
y = final_df['total_score']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [56]:
X_train

,batting_team,bowling_team,city,current_score,crr,balls_left,wickets_left,last_five_over_score,last_five_over_wicket
108682,Kolkata Knight Riders,Delhi Daredevils,Delhi,74,7.525424,61,7,41.0,1.0
170698,Kings XI Punjab,Royal Challengers Bangalore,Dharamsala,184,11.621053,25,9,72.0,0.0
205033,Royal Challengers Bangalore,Kings XI Punjab,Durban,107,7.552941,35,6,42.0,1.0
113270,Royal Challengers Bangalore,Chennai Super Kings,Ranchi,32,4.682927,79,8,21.0,2.0
13494,Gujarat Titans,Punjab Kings,Chandigarh,119,7.515789,25,7,31.0,2.0
...,...,...,...,...,...,...,...,...,...
32264,Rajasthan Royals,Royal Challengers Bangalore,Mumbai,106,6.765957,26,7,26.0,1.0
6094,Rajasthan Royals,Gujarat Titans,Jaipur,70,7.368421,63,5,24.0,4.0
170892,Kings XI Punjab,Delhi Daredevils,Dharamsala,69,7.016949,61,9,35.0,0.0
122148,Kings XI Punjab,Rajasthan Royals,Ahmedabad,152,9.029703,19,6,65.0,1.0
47309,Delhi Capitals,Punjab Kings,Mumbai,185,10.471698,14,6,48.0,2.0

In [57]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error

In [58]:
transformer = ColumnTransformer([
    ('transformer', OneHotEncoder(sparse_output=False, drop='first'),['batting_team','bowling_team', 'city'])
], remainder='passthrough')

In [59]:
pipe = Pipeline(steps=[
    ('step1', transformer),
    ('step2', StandardScaler()),
    ('step3', XGBRegressor(n_estimators=1000, learning_rate=0.2, max_depth=12, random_state=1))
])

In [60]:
pipe.fit(X_train, y_train)

C:\Users\LENOVO\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('transformer',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', StandardScaler()),
                ('step3',
                 XGBRegressor(base_score=None, booster=None, callbacks=None,
                              colsample_bylevel=None, colsample_bynode=None,
                              colsample_bytree=None, dev...
                              feature_types=None, gamma=None, grow_policy=None,
                              importance_type=None,
                              interaction_constraints=None, learning_rate=0.2,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=12, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, multi_strategy=None,
                              n_estimators=1000, n_jobs=None,
                              num_parallel_tree=None, random_state=1, ...))])

In [61]:
y_pred = pipe.predict(X_test)

In [62]:
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.963710606098175
3.004129155162209

In [63]:
import pickle
pickle.dump(pipe,open('pipe_score.pkl','wb'))